<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lists - Customer Management</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

	<div class="container mt-3">
		<div class="head">
			<h1>CRM - Customer Relationship Manager</h1>
		</div>
		<hr/>
		<table class="table">
		<thead>
			<tr>
				<td>First Name</td>
				<td>Last Name</td>
				<td>Email</td>
			</tr>
		</thead>
		<tr data-th-each="customer : ${customers}">
       		 <td data-th-text="${customer.firstName}">...</td>
       		 <td data-th-text="${customer.lastName}">...</td>
       		 <td data-th-text="${customer.email}">...</td>
    	</tr>
		</table>
	</div>
</body>
</html>
